<div #datacontainer id="dataContainer">

</div>
<div class="container">

  <div class="vertical-container" >
    <div class="box-title">Swiper</div>
    <div class="example-button-row">
      <button mat-button (click)="addCard()">Add Card</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>

    <div class="content-container">
      <swiper *ngIf="type == 'component' && show" class="swiper-container" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
        <div *ngFor="let slide of slides" class="swiper-slide">
          <div>
            {{slide}}
          </div>
        </div>
      </swiper>

      <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
        <div class="swiper-wrapper">
          <div *ngFor="let slide of slides" class="swiper-slide">
            <app-card [card]="slide"></app-card>
            <!--<div>

              <mat-card class="profile-card" mat-ripple>
                <mat-card-header>
                  <mat-card-title>
                    Labor
                    <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item>Expand</button>
                      <button mat-menu-item>Remove</button>
                    </mat-menu>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="profile-card-content">
                  <div>{{slide}}</div>
                </mat-card-content>
              </mat-card>
            </div>-->
          </div>
        </div>

        <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
        <div class="swiper-pagination" [hidden]="config.pagination === false"></div>

        <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
        <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
      </div>
    </div>
  </div>
</div>
